@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --secondary: #3636c9;
  --accent: #3636c9;
  --complement: #040473;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --secondary: #3636c9;
    --accent: #ffffff;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);
  --color-complement: var(--complement);
  --font-heading: "Permanent Marker", sans-serif;
  --font-normal: "Nunito", sans-serif;
  --font-monospace: "Iosevka Charon Mono", sans-serif;
}

@keyframes infinite-loader {
  0% {
    left: -35%;
    width: 30%;
  }

  50% {
    width: 55%;
  }

  100% {
    left: 100%;
    width: 30%;
  }
}

@theme inline {
  --animate-infinite-loader: infinite-loader 1.6s ease-in-out infinite;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    font-family: var(--font-sans);
    color-scheme: light dark;
  }
}