@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --secondary: #3636c9;
  --accent: #3636c9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --secondary: #3636c9;
    --accent: #a2a2e6;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);
  --font-heading: "Permanent Marker", sans-serif;
  --font-normal: "Nunito", sans-serif;
  --font-monospace: "Iosevka Charon Mono", sans-serif
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    font-family: var(--font-sans);
    color-scheme: light dark;
  }
}